.iframe-holder {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 5px;
}

.iframe-holder > iframe {
  padding: 0;
  border-width: 0;
  width: 60%;
  height: 400px
}